<div class="navbar sticky-top d-flex justify-content-around">
  <% if user_signed_in? %>
    <div class="navbar-item nav-link">
      <%= render 'shared/back' %>
    </div>
    <% if params[:controller] == 'pages' && params[:action] == 'home' %>
      <div class="navbar-item">
        <%= link_to "Home", projects_path(current_user) %>
      </div>
    <% end  %>
    <div class="navbar-item">
      <%= link_to "L!", projects_path, class: "logo bigger-icon red glow-red" %>
    </div>
    <div class="navbar-item">
      <%= link_to "My account", user_path(current_user) %>
      <% if current_user.name == nil or current_user.name == "" %>
        <div class="add_username">No username</div>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div class="navbar-item d-flex justify-content-start">
      <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
  </div>
    <div class="navbar-item">
    <%= link_to "L!", projects_path, class: "logo bigger-icon red glow-red" %>
    </div>
  <% end %>
</div>
