<br>
<div class="container">
  <div class="form">
    <%= simple_form_for @mission, url: project_mission_path(@mission), method: :patch do |f| %>
    <h2 class="far fa-edit"> Update your action plan</h2>
    <%= f.input :title, label: "Title:" %>
    <%= f.input :description, label: "Description:", :input_html => { :rows => 7 , :style => 'width: 100%'} %>
    <%= f.input :start_date, label: "Start:" %>
    <%= f.input :due_date, label: "Due date:" %>
    <%= f.input :priority, label: 'Priority', collection: ['Critical', 'Moderate', 'Negligible'], required: true %>

    <%= f.button :submit, value: 'Update', "data-disable-with" => "Creating..", class: "btn btn-outline-primary" %>
  <% end %>
  </div>

  <br>
</div>
